<% if @searches.count != 0 %>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js"></script>

<div class="dashboard-weather-search">
    <div class="search-item" id="map"
       style="width: 100%; height: 250px;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

    <% @output.each do |out|  %>
    <div class="search-card search-item">
      <small class="text-right" >  <%= link_to "delete", weather_search_path(out[:id]), method: :delete, remote: true, data: {confirm: "Are you sure you want to delete this search?"}, style:"color: white;"  %> <i class="fas fa-trash"></i></small>
      <div class="first-section text-center">
        <div>
          <i class="fas fa-map-marker-alt"></i>
          <small> <%= out[:address] %> </small>
        </div>
        <div>
          <i class="far fa-clock"></i>
          <small> <%= out[:date] %> at <%= out[:exact_time] %> hrs</small>
        </div>
      </div>
      <div class="second-section d-flex justify-content-around align-items-center">
        <div>
          <% out[:keys].each do |key| %>
            <li> <%=  retriever(out[:api]["data"]["weather"], key, out[:weather_type], out[:time]) %></li>
          <% end %>
        </div>
        <div>
          <div class="d-flex justify-content-center">
            <small> <%= image_tag "#{ url_retriever(out[:api]["data"]["weather"], out[:weather_type], out[:time])}", class: "avatar" %></small>
          </div>
          <div class="text-center">
            <small> <%= weather_comment(out[:api]["data"]["weather"], out[:weather_type], out[:time]) %></small>
          </div>
        </div>
      </div>

      <div class="third-section">
        <a class="toggle" style="text-decoration: none; color: white; font-weight: bold;">Hide Comments</a>
          <div>
            <% out[:search].reviews.each do |review| %>
                  <div class="d-flex justify-content-start">
                    <div class="d-flex chat-box">
                      <% if review.user.photo.attached?%>
                        <%= cl_image_tag(review.user.photo.key, class: "avatar-chat dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false)%>
                      <% else %>
                       <%= image_tag "https://www.seekpng.com/png/full/428-4287240_no-avatar-user-circle-icon-png.png", class: "avatar-chat dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                      <% end %>
                      <div class="chat-box">
                        <% if review.user == current_user %>
                          <small>You</small>
                        <% else %>
                          <small><%= review.user.first_name.capitalize %></small>
                        <% end %>
                        <p id="review-<%= review.id %>" class="chat-card">  <%=  review.content.capitalize %> </p>
                        <small class="date"><%= review.created_at %></small>
                      </div>
                    </div>
                  </div>
                <% end %>
            <%= simple_form_for([out[:search], @review ], remote: true) do |f| %>
              <%= f.input :content, as: :text, label: false %>
            <div class="form-actions text-center m-auto">
              <%= f.submit "Submit comment", class: 'comment-button btn btn-primary' %>
            </div>
            <% end %>
            <% if session[:review_error]%>
              <p class="error-msg"><%= session[:review_error] %> </p>
            <% end %>
          </div>
      </div>
    </div>
    <% end %>
</div>

<% else %>
  <div class="empty-search">
    <div class="index-button">
      <%= link_to 'Make your first search', '/weather_searches/new', class:"index-button-text"%>
    </div>
  </div>
<% end %>





