<h5> <%=  @output["name"] %></h5>

<div class="card sign">
<%= simple_form_for @search do |f| %>
  <%= f.input :address, label: "address" %>
  <div id='weather-search-times' data-unavailable="<%= @weather_search.unavailable_dates.to_json %>">
    <%= f.input :start_time, as: :string, type: :text %>
    <%= f.input :end_time, as: :string, type: :text %>
  </div>
  <div class="form-actions text-center m-auto">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
</div>

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
