
<div class="weather-search">
  <div class="search-item" id="map"
     style="width: 100%; height: 250px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>


    <% if @searches.count != 0 %>
        <% @output.each do |out|  %>
        <div class="search-card search-item">
          <div>
            <small><%= out[:address] %> </small>
            <small> Searched: <%= out[:date] %> at <%= out[:exact_time] %> hrs</small>
          </div>
          <div>
            <small> <%= image_tag "#{ url_retriever(out[:api]["data"]["weather"], out[:weather_type], out[:time])}", class: "avatar" %></small>
            <small> <%= weather_comment(out[:api]["data"]["weather"], out[:weather_type], out[:time]) %></small>
          </div>
          <div>
            <% out[:keys].each do |key| %>
              <small> <%=  retriever(out[:api]["data"]["weather"], key, out[:weather_type], out[:time]) %></small>
            <% end %>
          </div>
          <div >
            <a class="toggle">See comments</a>
            <% out[:search].reviews do |review| %>
              <small><%= review.content %> </small>
              <small><%= review.user.first_name.capitalize %> </small>
            <% end %>
            <%= simple_form_for([out[:search], @review ], remote: true) do |f| %>
              <%= f.input :content, as: :text, label: false %>
              <%= f.button :submit %>
            <% end %>
          </div>
          <small> <%= link_to "delete search", weather_search_path(out[:id]), method: :delete, remote: true  %></small>
        </div>
        <% end %>
    <% else %>
        <small> There is no searches listed yet</small>
    <% end %>
</div>








