<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-lg-6 text-center m-auto">
        <h2>Customize your search</h2>
      <%= simple_form_for @search do |f| %>
      <div class="form-inputs">
        <%= f.input :address, label: "Location" %>
      <%= f.input :weather_type, :collection => %w[weather marine], label: "Pick type of activity", input_html:{id:"type"}%>
      <div id="ski_wrap" class="hidden">
        <%= f.association :parameters, collection: Parameter.where(activity_type: "weather").pluck(:weather_parameter), label: "Weather parameters", input_html:{id:"ski"}%>
      </div>
      <div id="marine_wrap" class="hidden">
        <%= f.association :parameters, collection: Parameter.where(activity_type: "marine").pluck(:weather_parameter), label: "Marine parameters", input_html:{id:"marine"}%>
      </div>
      </div>
      <div class= "sign" id='weather-search-times' data-unavailable="<%= @search.unavailable_times.to_json %>">
        <%= f.input :start_time, as: :string, type: :text, label: "Pick a date" %>
        <%#= f.input :end_time, as: :string, type: :text %>
      </div>
      <div class="form-actions text-center m-auto">
        <%= f.submit "search", class: 'btn btn-primary' %>
      </div>
      <% end %>
    </div>
  </div>
</div>





