<div class="weather-search banner">
  <div class="guess-card">
      <div class="show-first-section text-center">
        <div>
          <i class="fas fa-map-marker-alt"></i>
          <small> <%= @search.address %> </small>
        </div>
        <div>
          <i class="far fa-clock"></i>
          <small> <%= @output[:date] %> at <%= @output[:exact_time] %> hrs</small>
        </div>
      </div>

      <div class="show-second-section d-flex justify-content-around">
        <div class="weather-img">
          <div class="d-flex justify-content-center">
            <small> <%= image_tag "#{ url_retriever(@output[:api]["data"]["weather"], @output[:time])}", class: "show-avatar" %></small>
          </div>
          <div class="text-center">
            <small> <%= weather_comment(@output[:api]["data"]["weather"], @output[:time]) %></small>
          </div>
        </div>
        <div class="params-section">
          <% @output[:keys].each do |key| %>
            <li> <%=  retriever(@output[:api]["data"]["weather"], key, @output[:weather_type], @output[:time]) %></li>
          <% end %>
        </div>

      </div>
      <div class="text-center m-auto">
        <%= link_to "New search", new_weather_search_path,  class: 'comment-button btn btn-primary'  %>
      </div>
  </div>
</div>


