  <div class="navbar-lewagon ">
  <div>
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "vamos_logo.png" %>
    <% end %>
 </div>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> -->
    <!-- <span class="navbar-toggler-icon"></span> -->
  <!-- </button> -->


  <div  id="navbarSupportedContent ">
    <ul class="navbar-nav ">
      <% if user_signed_in? %>
        <!-- <li class="nav-item active">
          <%#= link_to "Home", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%#= link_to "Messages", "#", class: "nav-link" %>
        </li> -->
        <div class="nav-item dropdown dropdown-menu-end">
          <% if user_signed_in? && current_user.photo.attached?%>
          <%= cl_image_tag(current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false)%>
          <% else %>
          <%= image_tag "https://res.cloudinary.com/batch-588/image/upload/v1627822930/squartl_avatar_t1rfxo.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
          <div class="dropdown-menu">
            <%= link_to "My Dashboard", weather_searches_path, class: "dropdown-item" %>
            <%= link_to "Make a search", new_weather_search_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </div>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
