<div class="weather-search">
    <% if @searches.count != 0  %>
        <% @output.each do |out|  %>
          <div class="search-card search-item">
            <div class="d-flex justify-content-between">
                <div>
                  <div>
                    <% if out[:search].user.photo.attached?%>
                    <%= cl_image_tag(out[:search].user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false)%>
                  <% else %>
                    <%= image_tag "https://res.cloudinary.com/batch-588/image/upload/v1627822930/squartl_avatar_t1rfxo.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                  <% end %>
                  </div>
                  <div>
                    <% if out[:search].user == current_user %>
                    <small><%= out[:search].user.first_name.capitalize %> </small>
                  <% else %>
                    <small>You</small>
                  <% end %>
                  </div>
                </div>
                <div>
                  <div>
                    <small><%= out[:address] %> </small>
                  </div>
                  <div>
                    <small> Searched: <%= out[:date] %> at <%= out[:exact_time] %> hrs</small>
                  </div>
                </div>
            </div>

            <div class="d-flex justify-content-around">
              <div>
                <% out[:keys].each do |key| %>
                  <li> <%=  retriever(out[:api]["data"]["weather"], key, out[:weather_type], out[:time]) %></li>
                <% end %>
              </div>
              <div>
                <div class="d-flex justify-content-center">
                  <small> <%= image_tag "#{ url_retriever(out[:api]["data"]["weather"], out[:weather_type], out[:time])}", class: "avatar" %></small>
                </div>
                <div>
                  <small> <%= weather_comment(out[:api]["data"]["weather"], out[:weather_type], out[:time]) %></small>
                </div>
              </div>
            </div>

            <div >
              <a class="toggle">See comments</a>
              <div>
                <% out[:search].reviews.each do |review| %>
                <p id="review-<%= review.id %>"><%= review.content %> </p>
                <p><%= review.user.first_name.capitalize %> </p>
              <% end %>
              <%= simple_form_for([out[:search], @review ], remote: true) do |f| %>
              <%= f.input :content, as: :text, label: false %>
              <%= f.button :submit %>
            <% end %>
              </div>

            <% if session[:review_error]%>
            <p><%= session[:review_error] %> </p>
            <% end %>
            </div>
          </div>
      <% end %>
    <% else %>
        <small> There is no searches listed yet</small>
    <% end %>
  </div>
</div>










